

h1, h2, h3{
    font-family: 'Oxygen', sans-serif;;
}
// NAVBAR=================================================


.logo {
    width: 100px;
    height: 80px;
    margin: 0px;
    margin-left: 20px;

}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

li {

    list-style: none;
margin-right: 20px;
}

.icon_accueil {
  
    align-items: center;
    display: flex;
    justify-content: center;

}

.fa-solid {
    font-size: 30px;
    text-decoration: none;
    color: black;

}

.nav-link {
    font-size: 20px;
}

// header_boutique====================================

.header_boutique {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #b000c44b, #ee6a8b3c, #f19f846f), url(../style/img_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        color: white;
    }

    p {
        margin-top: 50px;
        color: white;
    }
}


.header_categorie {
    margin-top: 100px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration-color: none;
        text-decoration: none;
        color: white;
        background-color: #ee6a8b;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        text-decoration-color: none;
        text-decoration: none;
        color: white;
        background-color: #f19f84;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Produuit_accueil================================
.table_index{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
}
.produit {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    margin-top: 50px;
    height: 60vh;
    flex-wrap: wrap;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
        background-color: #ee6a8b;

        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;

    }
    a:hover {
        background-color: #f19f84;
    }
    .card{
        margin: 20px
    }
}


.lesproduits {
    text-align: center;

    a {

        text-decoration: none;
        color: white;
        background-color: #ee6a8b;

        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;

    }

    a:hover {
        background-color: #f19f84;
    }

}

.fond {
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 10px;
}

// backOffice connexion =======================
.form_connexion {
    display: flex;
 flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;

}

.body_connexion {
    background: linear-gradient(to right, #b000c4f8, #ee6a8b, #f19f846f);

    h1 {
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }
}

.logo_connexion {

    text-align: center;
    display: flex;
    justify-content: center;
}

.connexion {

    margin-top: 100px;
    text-align: center;
    display: flex;

    justify-content: center;
    text-align: center;
}

.connexion-2 {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
    margin-bottom: 50px;
}

// NAVBAR BACKOFFICE ===================

.nav_backOffice{
    background: linear-gradient(to right, #b000c4d0, #ee6a8bd3, #f19f84c0);
    display: flex;
    height: 100vh;
    width: 10vw;
    justify-content: space-around;
    .logo_back{
        width: 100px;

    }
    ul{
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: space-around;
       a{
            text-decoration: none;
            color: white;
            list-style: none;
            text-decoration-line: none;
        }
        a:hover{
            color: black;
        }
    }
   
}

// AJOUTER UN PRODUIT 

.page_back{
    display: flex;
  
}
.h1_products{
    width: 50%;
    font-size: 30px;
    margin-left: 20px;
    color:#b000c475 ;
    margin-top: 50px;
}

.form_produit{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
   

    align-items: center;
    justify-content: space-around;
  height: 300px;
}

.back_produit{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.name{
    color: #ee6a8b;

}
.text_products{
    background-color: #ee6a8b45;
    border: none;
    border-radius: 5px;
}


// AJOUTER UNE CATEGORIE==========================

.back_category{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.form_category{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;


h1{
    width: 50%;
    font-size: 30px;
    margin-left: 20px;
    color:#b000c475 ;
}
.form-category{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
}
.ajouter{
   
        color: white;
        background-color: #ee6a8b;
border: none;
        border-radius: 5px;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        text-decoration-color: none;
}
.ajouter:hover{
    background-color: #f19f84;
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}
.text_category{
    background-color: #ee6a8b45;
    border: none;
    border-radius: 5px;
}

.nameCategory{
    color: #ee6a8b;

}
thead{
    color: white;
    background: linear-gradient(to right, #b000c4ad, #ee6a8bd3, #f19f84c0);
}

// Nouveau users=========================

.formu_users{
    display:flex ;
    flex-direction: column;
    
}
.h2_users{
   
    font-size: 30px;
    margin-left: 20px;
    color:#b000c475 ;
    text-align: center;
    margin-bottom: 70px;
}

.form_users{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 30vh;
}
.text_users{
    background-color: #ee6a8b45;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;

}

// PANIER =================

.body_panier{
    background: linear-gradient(to right, #b000c4ad, #ee6a8bd3, #f19f84c0);
   

}
.form-panier{
    display: flex;
    height: 80vh;
    align-items: center;
    h2{
        margin-bottom: 50px;
    }
    table{
        background-color: white;
        tr{
            border: 1px solid black;
        }
    }

}
.Rafraichir_panier{
    color: white;
    background-color: #ee6a8b;
border: none;
    border-radius: 5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-decoration-color: none;
}